body {
    text-align: center;
}
input[type="text"]{
    width: 400px;
    margin-right: 35px;
    margin-left: 50px;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;    
}

.form {
    display: inline-block;
}

.full-form{
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.buttons {
    display: block;
    margin-top: 10px;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 