body {
    text-align: center;
}
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus{
    border-color:#4d90fe;
}

input[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height:36px;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    padding: 2%;
    color: #9ab0af;
    background-color: #f2f2f2;
}

button a {
    text-decoration: none;
    color: #9ab0af;
}

button a:hover {
    color: black;
    
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;    
}

.form {
    display: inline-block;
}

.full-form{
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.buttons {
    display: block;
    margin-top: 10px;
}

.other-language a {
    display: inline;
    color: darkblue;
}

.other-language p {
    font-size: 12px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #45413e;
    padding: 5px;
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    color: black;
}

.footer {
    background-color: f2f2f2;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    float: left;
    color: #7a7b83;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.left-text {
    float: right;
    margin-right: 10px;
}

.kz-bar {
    float: left;
    color: #7a7b83;
    text-align: left;
    font-size: 14px;
    background-color: f2f2f2;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    position: fixed;
    bottom: 30px;
    width: 100%;
    padding: 8px;
}